html,
body {
  font-family: Rubik;
  font-size: 1rem;
}
:root{
  --black-blue:#0b132a;
  --dunkelgrau:#4f5665;
  --pimento:#f53838;
  --manchester:#4caf50;
  --white:#fff;
  --smart-white:#f8f8f8;
  --spicy-red:#FF0000;
  --weiss: #EEEFF2;
}
.container {
  max-width: 75.438rem;
  margin: 0 auto;
}
ul, h1, h2, h3, p {
  margin: 0;
  padding: 0;
}
header {
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mobile-menu{
  display: none;
}
.title{
  font-size: 2.188rem;
  line-height: 2.813rem;
  color: var(--black-blue);
}
.text{
  font-size: 1rem;
  line-height: 1.875rem;
  color: var(--dunkelgrau);
}
.logo {
  max-width: fit-content;
}
.main-menu .main-menu__list {
  list-style: none;
  display: flex;
  justify-content: center;
}
.main-menu__list a {
  color: var(--dunkelgrau);
  font-size: 1rem;
  line-height: 1.188rem;
  text-decoration: none;
}
.main-menu__list a:hover{
  border-bottom: 0.125rem solid;
  color: var(--pimento);
}
.main-menu .main-menu__list-link {
  padding: 0.625rem 1.25rem;
}
.button{
  cursor: pointer;
  padding: 0.75rem 2.77rem;
  color: var(--black-blue);
  background: var(--white);
  border: none;
  font-weight: 500;
}
.button--primary {
  cursor: pointer;
  padding: 1.313rem 5.125rem;
  background:  var(--pimento);
  transition: all 0.3s ease 0s;
  border-radius: 0.625rem;
  border: none;
  color: var(--white);
}
.button--primary:hover{
  box-shadow: 0rem 1.5rem 4rem var(--pimento);
}
.button--outline {
  cursor: pointer;
  border:  var(--pimento) 0.063rem solid;
  border-radius: 3.125rem;
  color:  var(--pimento);
  background-color: var(--white);
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.188rem;
  padding: 0.75rem 2.77rem;
}
.about {
  display: flex;
  padding-top: 5.563rem;
  padding-bottom: 6.438rem;
}
.about__info {
  max-width: 34.6rem;
}
.about__info .about__title {
  font-weight: 500;
  font-size: 3.125rem;
  line-height: 4.375rem;
  color: var(--black-blue);
}
.about__title span{
  font-weight: 600;
}
.about__info .about__text {
  padding: 1.25rem 0 3.125rem 0;
}
.statistics {
  display: flex;
  justify-content: space-around;
  border-radius: 0.625rem;
  box-shadow: 0rem 1.5rem 4rem var(--weiss);
  padding: 4.375rem;
}
.statistics__item {
  display: flex;
  padding-right: 8.125rem;
  border-right: 2px solid var(--weiss);
}
.statistics__item:last-of-type {
  padding-right: 0;
  border: none;
}
.statistics__item .statistics__info {
  display: flex;
  flex-direction: column;
  padding-left: 2.2rem;
  font-weight: normal;
  font-size: 1.25rem;
  line-height: 1.875rem;
  color: var(--dunkelgrau);
}
.statistics__item span {
  font-weight: bold;
  font-size: 1.56rem;
  line-height: 1.875rem;
  color: var(--black-blue);
}
.features {
  padding-top: 5.938rem;
  padding-bottom: 9.375rem;
  display: flex;
  justify-content: space-between;
}
.features__info {
  max-width: 26.7rem;
  padding-top: 3.125rem;
}
.features__info .features__title {
  font-weight: 500;
}
.features__info .features__text {
  font-weight: normal;
  padding: 1.25rem 0;
}
.features__info .features__list {
  width: fit-content;
  list-style: none;
  font-weight: normal;
  font-size: 0.87rem;
  line-height: 2.62rem;
  color: #4f5665;
}
.features__info .features__item {
  padding-left: 1.975rem;
  background-image: url(/assets/svg/bx_bxs-check-circle.svg);
  background-repeat: no-repeat;
  background-position: left;
}
.tariffs {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}
.tariffs .tariffs__header {
  margin: 0 auto;
}
.tariffs__header .tariffs__title {
  padding-bottom: 1.25rem;
  font-weight: 500;
}
.tariffs__header .tariffs__text {
  margin: 0 auto;
  padding-bottom: 3.75rem;
  max-width: 34.4rem;
  font-weight: normal;
}
.tariffs-packages {
  margin: 0 auto;
  display: flex;
}
.tariffs-packages__item {
  margin: 0 1.563rem;
  padding: 4.977rem 4.655rem 3.125rem 4.655rem;
  background: var(--white);
  border: 2px solid #dddddd;
  box-sizing: border-box;
  border-radius: 0.6rem;
  display: flex;
  flex-direction: column;
}
.tariffs-packages__item:last-of-type{
  margin-right: 0;
}
.tariffs-packages__item:first-of-type{
  margin-left: 0;
}
.tariffs-packages__item:hover {
  border-color: var(--pimento);
}
.tariffs-packages__item .tariffs-packages__title {
  padding: 1.875rem;
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 1.875rem;
}
.tariffs-packages__item .tariffs-packages__list {
  flex-grow: 1;
  list-style: none;
}
.tariffs-packages__list li {
  text-align: left;
  padding-left: 1.5rem;
  font-size: 0.87rem;
  line-height: 1.875rem;
  color: var(--dunkelgrau);
  background-image: url(/assets/svg/mark.svg);
  background-repeat: no-repeat;
  background-position: left;
}
.tariffs-packages__item .tariffs-packages__price {
  text-align: center;
  font-weight: 500;
  font-size: 1.5rem;
  padding: 3.232rem 0 1.25rem 0;
  line-height: 1.875rem;
  color: var(--black-blue);
}
.tariffs-packages__item span {
  color: var(--dunkelgrau);
}
.tariffs-packages__item .tariffs-packages__button {
  padding: 0.75rem 3.932rem;
}
.tariffs-packages__item .tariffs-packages__button:hover {
  box-shadow: 0rem 1.2rem 4rem var(--pimento);
  background: var(--pimento);
  color: var(--white);
}
.map {
  text-align: center;
}
.map .map__header {
  padding: 7.5rem 0;
}
.map__header .map__title {
  margin: 0 auto;
  max-width: 23.7rem;
  font-weight: 500;
}
.map__header .map__text {
  margin: 0 auto;
  max-width:34.3rem;
  padding-top: 1.25rem;
  font-weight: normal;
  text-align: center;
}
.map span {
  font-weight: 500;
}
.stories {
  text-align: center;
}
.stories .stories__header {
  margin-top: 3rem;
}
.stories__header .stories__title {
  margin: 0 auto;
  max-width: 26.25rem;
  font-weight: 500;
}
.stories__header .stories__text {
  margin: 0 auto;
  max-width: 34.375rem;
  padding-top: 1.25rem;
  font-weight: normal;
}
.slider-list{
  overflow: hidden;
}
.stick-track{
  display: flex;
  max-width: 1207px;
  margin: 0 auto;
  transition: all 2s ease-out;
}
.slider__card {
  flex: 0 0 350px;
  height: 230px;
  border: 2px solid #dddddd;
  box-sizing: border-box;
  border-radius: 10px;
  margin-left: 50px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.slider__card--active{
  border: 2.5px solid var(--pimento);
  transition: all 2s ease-in-out;
}
.slider__card img {
  width: 50px;
  height: 50px;
  padding: 30px 30px 0px 30px;
}
.slider__card h5 {
  text-align: left;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: var(--black-blue);
  flex: 1 0 auto;
  align-self: flex-end;
}
.slider__card span {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: var(--dunkelgrau);
}
.slider__card .slider__star::after {
  content: url(/assets/svg/ant-design_star-filled.svg);
  margin-right: 30px;
  padding: 10px;
}
.slider__card p {
  height: 100px;
  text-align: left;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: var(--black-blue);
  padding: 0px 30px 30px 30px;
}
.slider__controls {
  padding: 3.75rem 0 0 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.controls__dots{
  display: none;
}
label {
  cursor: pointer;
  width: 15px;
  height: 15px;
  margin-left: 10px;
  background: #dde0e4;
  border-radius: 10px;
  display: inline-block;
}
.control__dot--active{
  background-color: var(--pimento);
}
.slider__controls .controls__arrows {
  width: 140px;
  display: flex;
  justify-content: space-around;
}
.slider__controls button {
  width: 60px;
  height: 60px;
  cursor: pointer;
  border: var(--pimento) 1px solid;
  border-radius: 50px;
  background: var(--white);
}
.subscribe {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3.532rem 4.375rem;
  background: var(--white);
  border-radius: 0.6rem;
  position: relative;
  box-shadow: 0rem 1.5rem 4rem var(--weiss);
}
.subscribe__header .subscribe__title {
  max-width: 23.125rem;
  font-weight: 500;
}
.subscribe__header .subscribe__text {
  font-weight: normal;
}
footer {
  margin-top: -6rem;
  padding: 0 14rem;
  display: flex;
  justify-content: space-between;
  background: var(--smart-white);
}
footer .footer__info {
  display: flex;
  flex-direction: column;
  padding: 9.375rem;
}
.footer__info .footer__text {
  display: flex;
  flex-direction: column;
  padding: 1.25rem 0 0 0;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.875rem;
  color: var(--dunkelgrau);
}
footer .footer__sub-menu {
  width: fit-content;
  padding: 9.4rem 9.4rem 0 7rem;
  display: flex;
  justify-content: space-between;
  flex: 1 0 auto;
}
footer .footer-list__item {
  list-style-type: none;
  padding-bottom: 0.6rem;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.875rem;
  color: var(--dunkelgrau);
}
footer .footer-list__item:nth-child(1) {
  padding-bottom: 1.25rem;
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 1.875rem;
  color: var(--black-blue);
}
.footer__links{
  padding: 1.875rem 0;
}
.footer__links a{
  margin-right: 1.25rem;
}
.footer__links img{
  border-radius: 50%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.footer__symbol{
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.875rem;
  color: var(--dunkelgrau);
}
/* modal form */
.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 3.75rem;
}
.hide{
  display: none;
}
.signUp-form {
  background-color: #fefefe;
  margin: 0.3rem auto;
  margin-top: 6rem;
  border: 1px solid var(--dunkelgrau);
  border-radius: 0.6rem;
  width: 30%;
  display: flex;
  flex-flow: column nowrap;
}
.signUp-form__content {
  display: flex;
  flex-flow: column nowrap;
}
.signUp-form__input{
  display: flex;
  flex-flow: column nowrap;
}
.signUp-form__content input {
  margin: 1.2rem;
  padding: 0.6rem;
  border: none;
}
.signUp-form__content .error-message{
  margin-top: -0.9rem;
  padding-left: 1.2rem;
  color: var(--pimento);
}
.error{
  border: var(--red) 1px solid;
}
.signUp-form__buttons {
  text-align: center;
  margin-top: 4.3rem;
}
.signUp-form__buttons button {
  background-color: var(--manchester);
  border: none;
  border-radius: 0.6rem;
  color: var(--white);
  padding: 0.9rem 1.8rem;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  margin-bottom: 0.3rem;
}
.animate {
  animation: animatezoom 0.5s;
}
@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
