html,
body {
  font-family: Rubik;
  font-size: 1rem;
}
:root{
  --title-color:#0b132a;
  --text-color:#4f5665;;
}
.container {
  max-width: 1207px;
  margin: 0 auto;
}
ul {
  margin: 0;
  padding: 0;
}
h1, h2{
  margin: 0;
  padding: 0;
}
header {
  padding-top: 2.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title{
  font-size: 2.188rem;
  line-height: 2.813rem;
  color: var(--title-color);
}
.text{
  font-size: 1rem;
  line-height: 1.875rem;
  color: var(--text-color);
}
.logo {
  max-width: fit-content;
}
.main-menu .main-menu__list {
  list-style: none;
  display: flex;
  justify-content: center;
}
.main-menu__list a {
  color: #4f5665;
  font-size: 1rem;
  line-height: 1.188rem;
  text-decoration: none;
}
.main-menu__list a:hover{
  border-bottom: 2px solid;
}
.main-menu .main-menu__list-link {
  padding: 0.625rem 1.25rem;
}
.primary-button {
  cursor: pointer;
  width: 15.625rem;
  height: 3.75rem;
  background: #f53838;
  transition: all 0.3s ease 0s;
  border-radius: 0.625rem;
  border: none;
  color: #ffffff;
}
.primary-button:hover{
  box-shadow: 0px 8px 15px #f53838;
}
.button--outline {
  cursor: pointer;
  border: #f53855 1px solid;
  border-radius: 3.125rem;
  color: #f53855;
  background-color: #ffffff;
  font-weight: bold;
  font-size: 0.75rem;
  line-height: 1.188rem;
  width: 9.375rem;
  height: 2.813rem;
}
.about {
  display: flex;
  padding-top: 5.563rem;
}
.about__info {
  max-width: 555px;
  max-height: 220px;
}
.about__info .about__title {
  font-weight: 500;
}
.about__info .about__text {
  padding: 1.25rem 0;
  font-weight: normal;
}
.statistics {
  padding-top: 6.438rem;
  display: flex;
  justify-content: space-around;
}
.statistics__item {
  display: flex;
}
.statistics__item p {
  max-width: 100px;
  padding-left: 10px;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #4f5665;
}
.statistics__item span {
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  color: #0b132a;
}
.features {
  padding-top: 100px;
  display: flex;
  justify-content: space-between;
}
.features__info {
  max-width: 427px;
  height: fit-content;
}
.features__info .features__title {
  font-weight: 500;
}
.features__info .features__text {
  font-weight: normal;
  padding: 10px 0;
}
.features__info .features__list {
  list-style: none;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: #4f5665;
}
.features__info .features__item {
  padding-left: 30px;
  background-image: url(/assets/svg/bx_bxs-check-circle.svg);
  background-repeat: no-repeat;
  background-position: left;
}
.tariffs {
  padding-top: 100px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}
.tariffs .tariffs__header {
  width: 100%;
}
.tariffs__header .tariffs__title {
  font-weight: 500;
}
.tariffs__header .tariffs__text {
  margin: 0 auto;
  max-width: 550px;
  font-weight: normal;
}
.tariffs-packages {
  width: 100%;
  display: flex;
  margin-top: 50px;
}
.tariffs-packages__item {
  margin-right: 50px;
  padding: 70px;
  max-width: 330px;
  max-height: 760px;
  background: #ffffff;
  border: 2px solid #dddddd;
  box-sizing: border-box;
  border-radius: 10px;
}
.tariffs-packages__item:last-of-type{
  margin: 0;
}
.tariffs-packages__item:hover {
  border-color: #f53838;
}
.tariffs-packages__item h3 {
  padding: 30px;
  font-weight: 500;
  font-size: 15px;
  line-height: 30px;
}
.tariffs-packages__item .tariffs-packages__list {
  list-style: none;
  max-width: 190.54px;
  height: 190px;
}
.tariffs-packages__list li {
  text-align: left;
  padding-left: 25px;
  font-size: 14px;
  line-height: 30px;
  color: #4f5665;
  height: 30px;
  background-image: url(/assets/svg/mark.svg);
  background-repeat: no-repeat;
  background-position: left;
}
.tariffs-packages__item .tariffs-packages__price {
  text-align: center;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  color: #0b132a;
}
.tariffs-packages__item span {
  color: #4f5665;
}
.tariffs-packages__item .tariffs-packages__button {
  margin-top: 20px;
  width: 177.88px;
}
.tariffs-packages__item .tariffs-packages__button:hover {
  background: #f53838;
  color: #ffffff;
}
.map {
  text-align: center;
}
.map .map__header {
  padding: 100px 0;
}
.map__header .map__title {
  margin: 0 auto;
  max-width: 380px;
  font-weight: 500;
}
.map__header .map__text {
  margin: 0 auto;
  max-width: 550px;
  font-weight: normal;
  text-align: center;
}
.map span {
  font-weight: 500;
}
.stories {
  text-align: center;
}
.stories .stories__header {
  margin-top: 50px;
}
.stories__header .stories__title {
  margin: 0 auto;
  max-width: 420px;
  font-weight: 500;
}
.stories__header .stories__text {
  margin: 0 auto;
  max-width: 550px;
  padding-top: 20px;
  font-weight: normal;
}
.slider-wrapper {
  margin-top: 50px;
}
.slider-wrapper input[name="slider"] {
  display: none;
}
.slider {
  display: flex;
  max-width: 1207px;
  margin: 0 auto;
  overflow: hidden;
}
.slider__card {
  flex: 0 0 400px;
  height: 230px;
  border: 2px solid #dddddd;
  box-sizing: border-box;
  border-radius: 10px;
  margin-left: 50px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.slider__card img {
  width: 50px;
  height: 50px;
  padding: 30px 30px 0px 30px;
}
.slider__card h5 {
  text-align: left;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #0b132a;
  flex: 1 0 auto;
  align-self: flex-end;
}
.slider__card span {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: #4f5665;
}
.slider__card .slider__star::after {
  content: url(/assets/svg/ant-design_star-filled.svg);
  margin-right: 30px;
  padding: 10px;
}
.slider__card p {
  height: 100px;
  text-align: left;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: #0b132a;
  padding: 0px 30px 30px 30px;
}
#robert:checked ~ .slider .slider__card {
  transform: translate(-50px);
  transition: 2s;
}
#christy:checked ~ .slider .slider__card {
  transform: translate(-200px);
  transition: 2s;
}
#kim:checked ~ .slider .slider__card {
  transform: translate(-400px);
  transition: 2s;
}
#jou:checked ~ .slider .slider__card {
  transform: translate(-600px);
  transition: 2s;
}
.slider__controls {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.slider__controls label {
  cursor: pointer;
  width: 15px;
  height: 15px;
  margin-left: 10px;
  background: #dde0e4;
  border-radius: 10px;
  display: inline-block;
}
#robert:checked ~ .slider__controls label:nth-child(1),
#christy:checked ~ .slider__controls label:nth-child(2),
#kim:checked ~ .slider__controls label:nth-child(3),
#jou:checked ~ .slider__controls label:nth-child(4) {
  background: #f53838;
}
.slider__controls .controls__buttons {
  width: 140px;
  display: flex;
  justify-content: space-around;
}
.slider__controls button {
  width: 60px;
  height: 60px;
  cursor: pointer;
  border: #f53838 1px solid;
  border-radius: 50px;
  background: #ffffff;
}
.subscribe {
  max-width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 60px;
  background: #ffffff;
  border-radius: 10px;
  position: relative;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.subscribe__header .subscribe__title {
  max-width: 370px;
  font-weight: 500;
}
.subscribe__header .subscribe__text {
  font-weight: normal;
}
footer {
  margin-top: -100px;
  padding: 0 320px;
  display: flex;
  justify-content: space-around;
  height: 563px;
  background: #f8f8f8;
}
footer .footer__info {
  display: flex;
  justify-content: space-between;
  flex-flow: column nowrap;
  padding: 150px 0px;
}
.footer__info span {
  max-width: 350px;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: #4f5665;
}
footer nav {
  padding-top: 150px;
  padding-left: 150px;
  display: flex;
  justify-content: space-around;
  flex: 1 0 auto;
}
footer .footer-list__item {
  list-style-type: none;
  padding-bottom: 10px;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: #4f5665;
}
footer .footer-list__item:nth-child(1) {
  padding-bottom: 20px;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #0b132a;
}
/* modal form */
.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 60px;
}
.hide{
  display: none;
}
.signUp-form {
  background-color: #fefefe;
  margin: 5px auto;
  margin-top: 100px;
  border: 1px solid #888;
  border-radius: 10px;
  width: 30%;
  display: flex;
  flex-flow: column nowrap;
}
.signUp-form__content {
  display: flex;
  flex-flow: column nowrap;
}
.signUp-form__input{
  display: flex;
  flex-flow: column nowrap;
}
.signUp-form__content input {
  margin: 20px;
  padding: 10px;
}
.signUp-form__content .error-message{
  margin-top: -15px;
  padding-left: 20px;
  color: #f53838;
}
.error{
  border: #FF0000 1px solid;
}
.signUp-form__buttons {
  text-align: center;
  margin-top: 70px;
}
.signUp-form__buttons button {
  background-color: #4caf50;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin-bottom: 5px;
}
.animate {
  animation: animatezoom 0.5s;
}
@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
