* {
  padding: 0;
  margin: 0;
  border: 0;
}
html,
body {
  width: 1207px;
  margin: 0 auto;
  font-family: Rubik;
  font-style: normal;
}
.header {
  margin-top: 20px;
  display: flex;
}
.logo {
  display: flex;
}
.logo p {
  align-self: center;
  margin-left: 10px;
  font-weight: 500;
  font-size: 20px;
}
.main-menu {
  flex-grow: 1;
}
.main-menu .main-menu__list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
}
.main-menu .main-menu__list a {
  color: #4f5665;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
}
.header__login .header__button {
  cursor: pointer;
  font-weight: bold;
  font-size: 12px;
  line-height: 19px;
  width: 150px;
  height: 45px;
  border: #f53855 1px solid;
  border-radius: 50px;
  color: #f53855;
  background-color: #ffffff;
}
.about {
  margin-top: 100px;
  display: flex;
}
.about__info {
  width: 555px;
  height: 220px;
  flex: 1 0 auto;
}
.about__info h1 {
  font-weight: 500;
  font-size: 50px;
  line-height: 70px;
  color: #0b132a;
}
.about__info p {
  line-height: 30px;
  padding: 20px 0;
  font-weight: normal;
  font-size: 16px;
  color: #4f5665;
}
.about__info button {
  width: 250px;
  height: 60px;
  cursor: pointer;
  background: #f53838;
  border-radius: 10px;
  color: #ffffff;
}
.about__img {
  width: 611.24px;
  height: 382.44px;
}
.statistics {
  margin-top: 103px;
  display: flex;
  justify-content: space-around;
}
.statistics__item {
  display: flex;
}
.statistics__item p {
  padding-left: 10px;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  color: #0b132a;
}
.statistics__item span {
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #4f5665;
}
.features {
  margin-top: 100px;
  display: flex;
}
.features__img {
  flex: 1 0 auto;
}
.features__info {
  width: 427px;
  height: 365px;
}
.features__info h2 {
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  color: #0b132a;
}
.features__info p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: #4f5665;
  padding: 10px 0;
}
.features__info .features__list {
  list-style: none;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: #4f5665;
}
.features__info .features__item {
  padding-left: 30px;
  background-image: url(assets/svg/bx_bxs-check-circle.svg);
  background-repeat: no-repeat;
  background-position: left;
}
.tariffs {
  margin-top: 100px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}
.tariffs .tariffs__head {
  width: 100%;
}
.tariffs h2 {
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  color: #0b132a;
}
.tariffs p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: #4f5665;
}
.tariffs-packages {
  width: 100%;
  display: flex;
}
.tariffs-packages__item {
  flex: 1 0 auto;
  margin-top: 50px;
  margin-left: 30px;
  padding: 100px;
  width: 330px;
  height: 760px;
  background: #ffffff;
  border: 2px solid #dddddd;
  box-sizing: border-box;
  border-radius: 10px;
}
.tariffs-packages__item:hover {
  border-color: #f53838;
}
.tariffs-packages__package h3 {
  padding: 30px;
  font-weight: 500;
  font-size: 15px;
  line-height: 30px;
}
.tariffs-packages__item .tariffs-packages__list {
  list-style: none;
  width: 190.54px;
  height: 230px;
}
.tariffs-packages__item li {
  text-align: left;
  padding-left: 25px;
  font-size: 14px;
  line-height: 30px;
  color: #4f5665;
  width: 181.17px;
  height: 30px;
  background-image: url(assets/svg/mark.svg);
  background-repeat: no-repeat;
  background-position: left;
}
.tariffs-packages__item .tariffs-packages__price {
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  color: #0b132a;
}
.tariffs-packages__item span {
  color: #4f5665;
}
.tariffs-packages__item .tariffs-packages__button {
  margin-top: 20px;
  width: 177.88px;
  height: 45px;
  cursor: pointer;
  background: #ffffff;
  border: #f53838 2px solid;
  border-radius: 50px;
  color: #f53838;
}
.tariffs-packages__item .tariffs-packages__button:hover {
  background: #f53838;
  color: #ffffff;
}
.map {
  text-align: center;
}
.map .map__head {
  margin-top: 150px;
  margin-bottom: 155px;
}
.map h2 {
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  color: #0b132a;
}
.map p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: #4f5665;
}
.map span {
  font-weight: 500;
}
.stories {
  text-align: center;
}
.stories .stories__head {
  margin-top: 50px;
}
.stories__head h2 {
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  color: #0b132a;
}
.stories__head p {
  margin-top: 20px;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: #4f5665;
}
.slider {
  margin-top: 50px;
}
.slider input {
  display: none;
}
.slider-overflow {
  width: 1207px;
  margin: 0 auto;
  overflow: hidden;
}
.slider-slides {
  display: inline-flex;
}
.slider__card {
  width: 400px;
  height: 230px;
  border: 2px solid #dddddd;
  box-sizing: border-box;
  border-radius: 10px;
  margin-left: 50px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.slider__card img {
  width: 50px;
  height: 50px;
  padding: 30px 30px 0px 30px;
}
.slider__card h5 {
  text-align: left;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #0b132a;
  flex: 1 0 auto;
  align-self: flex-end;
}
.slider__card span {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: #4f5665;
}
.slider__card .slider__star::after {
  content: url(assets/svg/ant-design_star-filled.svg);
  margin-right: 30px;
  padding: 10px;
}
.slider__card p {
  height: 100px;
  text-align: left;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: #0b132a;
  padding: 0px 30px 30px 30px;
}
#switch1:checked ~ .slider-overflow .slider__card {
  transform: translate(-50px);
  transition: 2s;
}
#switch2:checked ~ .slider-overflow .slider__card {
  transform: translate(-200px);
  transition: 2s;
}
#switch3:checked ~ .slider-overflow .slider__card {
  transform: translate(-400px);
  transition: 2s;
}
#switch4:checked ~ .slider-overflow .slider__card {
  transform: translate(-600px);
  transition: 2s;
}
.slider__controls {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.slider__controls label {
  cursor: pointer;
  width: 15px;
  height: 15px;
  margin-left: 10px;
  background: #dde0e4;
  border-radius: 10px;
  display: inline-block;
}
#switch1:checked ~ .slider__controls label:nth-child(1),
#switch2:checked ~ .slider__controls label:nth-child(2),
#switch3:checked ~ .slider__controls label:nth-child(3),
#switch4:checked ~ .slider__controls label:nth-child(4) {
  background: #f53838;
}
.slider__controls .controls__buttons {
  width: 140px;
  display: flex;
  justify-content: space-around;
}
.slider__controls button {
  width: 60px;
  height: 60px;
  cursor: pointer;
  border: #f53838 1px solid;
  border-radius: 50px;
  background: #ffffff;
}
.subscribe {
  width: 1000px;
  margin-top: 50px;
  margin-left: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px;
  background: #ffffff;
  border-radius: 10px;
  position: absolute;
}
.subscribe__head h2 {
  font-weight: 500;
  font-size: 35px;
  line-height: 45px;
  color: #0b132a;
}
.subscribe__head p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: #4f5665;
}
.subscribe .subscribe__button {
  cursor: pointer;
  width: 250px;
  height: 60px;
  background: #f53838;
  border-radius: 10px;
  color: #ffffff;
}
.footer {
  margin: 200px -345px 0 -345px;
  padding: 0 320px;
  display: flex;
  justify-content: space-around;
  height: 563px;
  background: #f8f8f8;
}
.footer .footer__content {
  display: flex;
  justify-content: space-between;
  flex-flow: column nowrap;
  padding: 150px 0px;
}
.footer__content span {
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: #4f5665;
}
.footer .footer-nav {
  margin-top: 150px;
}
.footer .footer-list__item {
  list-style-type: none;
  padding-bottom: 10px;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: #4f5665;
}
.footer .footer-list__item:nth-child(1) {
  padding-bottom: 20px;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #0b132a;
}
/* modal form */
.modal {
  display: none;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 60px;
}
.login-form {
  background-color: #fefefe;
  margin: 5px auto;
  margin-top: 100px;
  border: 1px solid #888;
  border-radius: 10px;
  width: 30%;
  display: flex;
  flex-flow: column nowrap;
}
.login-form__content {
  display: flex;
  flex-flow: column nowrap;
}
.login-form__content p {
  margin: 40px;
}
.login-form__content .login-form__input {
  width: 100%;
  padding: 10px;
}
.login-form__remember_me{
  display: flex;
}
.login-form__buttons {
  text-align: center;
}
.login-form__buttons button {
  background-color: #4caf50; 
  border: none;
  border-radius: 10px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin-bottom: 5px;
}
.animate {
  animation: animatezoom 0.5s
}
@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}