* {
  padding: 0;
  margin: 0;
  border: 0;
}
html,
body {
  height: 100%;
  width: 100%;
  font-family: Rubik;
  font-style: normal;
}
.container {
  width: 1207px;
  margin: 0 auto;
}
.header {
  margin-top: 20px;
  display: flex;
}
.logo {
  display: flex;
}
.logo p {
  align-self: center;
  margin-left: 10px;
  font-weight: 500;
  font-size: 20px;
}
.main-menu {
  flex-grow: 1;
}
.main-menu-list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
}
.main-menu-list a {
  color: #4f5665;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
}
.login button {
  cursor: pointer;
  font-weight: bold;
  font-size: 12px;
  line-height: 19px;
  width: 150px;
  height: 45px;
  border: #f53855 1px solid;
  border-radius: 50px;
  color: #f53855;
  background-color: #ffffff;
}
.about {
  margin-top: 100px;
  display: flex;
}
.about-info {
  width: 555px;
  height: 220px;
  flex: 1 0 auto;
}
.about-info h1 {
  font-weight: 500;
  font-size: 50px;
  line-height: 70px;
  color: #0b132a;
}
.about-info p {
  line-height: 30px;
  padding: 20px 0;
  font-weight: normal;
  font-size: 16px;
  color: #4f5665;
}
.about-info button {
  width: 250px;
  height: 60px;
  cursor: pointer;
  background: #f53838;
  border-radius: 10px;
  color: #ffffff;
}
.about-img {
  width: 611.24px;
  height: 382.44px;
}
.statistics {
  margin-top: 103px;
  display: flex;
  justify-content: space-around;
}
.statistics-item {
  display: flex;
}
.statistics-item p {
  padding-left: 10px;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  color: #0b132a;
}
.statistics-item span {
  font-size: 20px;
  line-height: 30px;
  color: #4f5665;
}
.features {
  margin-top: 100px;
  display: flex;
}
.features-img {
  flex: 1 0 auto;
}
.features-info {
  width: 427px;
  height: 365px;
}
.features-info h2 {
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  color: #0b132a;
}
.features-info p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: #4f5665;
  padding: 10px 0;
}
.features-info ul {
  list-style: none;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: #4f5665;
}
.features-info li {
  padding-left: 30px;
  background-image: url(img/bx_bxs-check-circle.svg);
  background-repeat: no-repeat;
  background-position: left;
}
.tariffs {
  margin-top: 100px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}
.tariffs .tariffs-heading {
  width: 100%;
}
.tariffs h2 {
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  color: #0b132a;
}
.tariffs p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: #4f5665;
}
.tariff {
  flex: 1 0 auto;
  margin-top: 50px;
  margin-left: 30px;
  padding: 100px;
  width: 330px;
  height: 760px;
  background: #ffffff;
  border: 2px solid #dddddd;
  box-sizing: border-box;
  border-radius: 10px;
}
.tariff:hover {
  border-color: #f53838;
}
.tariff h3 {
  padding: 30px;
  font-weight: 500;
  font-size: 15px;
  line-height: 30px;
}
.tariff ul {
  list-style: none;
  width: 190.54px;
  height: 230px;
}
.tariff li {
  text-align: left;
  padding-left: 25px;
  font-size: 14px;
  line-height: 30px;
  color: #4f5665;
  width: 181.17px;
  height: 30px;
  background-image: url(img/mark.svg);
  background-repeat: no-repeat;
  background-position: left;
}
.tariff p {
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  color: #0b132a;
}
.tariff span {
  color: #4f5665;
}
.tariff button {
  margin-top: 20px;
  width: 177.88px;
  height: 45px;
  cursor: pointer;
  background: #ffffff;
  border: #f53838 2px solid;
  border-radius: 50px;
  color: #f53838;
}
.tariff button:hover {
  background: #f53838;
  color: #ffffff;
}
.map {
  text-align: center;
}
.map .map-heading {
  margin-top: 150px;
  margin-bottom: 155px;
}
.map h2 {
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  color: #0b132a;
}
.map p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: #4f5665;
}
.map span {
  font-weight: 500;
}
.stories {
  text-align: center;
}
.stories .stories-heading {
  margin-top: 50px;
}
.stories h2 {
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  color: #0b132a;
}
.stories p {
  margin-top: 20px;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: #4f5665;
}
.slider {
  margin-top: 50px;
}
.slider input {
  display: none;
}
.overflow {
  width: 1207px;
  margin: 0 auto;
  overflow: hidden;
}
.slides {
  display: inline-flex;
}
.card {
  width: 400px;
  height: 230px;
  border: 2px solid #dddddd;
  box-sizing: border-box;
  border-radius: 10px;
  margin-left: 50px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.card img {
  width: 50px;
  height: 50px;
  padding: 30px 30px 0px 30px;
}
.card h5 {
  text-align: left;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #0b132a;
  flex: 1 0 auto;
  align-self: flex-end;
}
.card span {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: #4f5665;
}
.card .star::after {
  content: url(img/ant-design_star-filled.svg);
  margin-right: 30px;
  padding: 10px;
}
.card p {
  height: 100px;
  text-align: left;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: #0b132a;
  padding: 0px 30px 30px 30px;
}
#switch1:checked ~ .overflow .card {
  transform: translate(-50px);
  transition: 2s;
}
#switch2:checked ~ .overflow .card {
  transform: translate(-200px);
  transition: 2s;
}
#switch3:checked ~ .overflow .card {
  transform: translate(-400px);
  transition: 2s;
}
#switch4:checked ~ .overflow .card {
  transform: translate(-600px);
  transition: 2s;
}
.control label {
  cursor: pointer;
  width: 10px;
  height: 10px;
  background: #dde0e4;
  border-radius: 5px;
  display: inline-block;
}
#switch1:checked ~ .control label:nth-child(1),
#switch2:checked ~ .control label:nth-child(2),
#switch3:checked ~ .control label:nth-child(3),
#switch4:checked ~ .control label:nth-child(4) {
  background: #f53838;
}
.control {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.control .buttons {
  width: 140px;
  display: flex;
  justify-content: space-around;
}
.control button {
  width: 60px;
  height: 60px;
  cursor: pointer;
  border: #f53838 1px solid;
  border-radius: 50px;
  background: #ffffff;
}
.subscribe {
  width: 1000px;
  margin-top: 50px;
  margin-left: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px;
  background: #ffffff;
  border-radius: 10px;
  position: absolute;
}
.subscribe h2 {
  font-weight: 500;
  font-size: 35px;
  line-height: 45px;
  color: #0b132a;
}
.subscribe p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: #4f5665;
}
.subscribe button {
  cursor: pointer;
  width: 250px;
  height: 60px;
  background: #f53838;
  border-radius: 10px;
  color: #ffffff;
}
.footer {
  margin-top: 200px;
  padding: 0 320px;
  display: flex;
  justify-content: space-around;
  height: 563px;
  background: #f8f8f8;
}
.footer section {
  display: flex;
  justify-content: space-between;
  flex-flow: column nowrap;
  padding: 150px 0px;
}
.footer span {
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: #4f5665;
}

.footer ul {
  margin-top: 150px;
}
.footer li {
  list-style-type: none;
  padding-bottom: 10px;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: #4f5665;
}
.footer li:nth-child(1) {
  padding-bottom: 20px;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #0b132a;
}
